body {
    background:linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(long-road-expsoure-v3.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
} 
.top {
    position: relative;

} 
.prof {
    margin-left: 90px;
    padding: 0px;
    background-color: none;
    float: left;
    color: aqua;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
    margin-left: 20px;
    font-size: 40px;
    margin-top: 0px;
    background:linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(long-road-expsoure-v3.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.pic {
    display: flex;
    justify-content: right;
    position: right;
    margin-left: 150px;
    margin-top: 20px;
    width: 700px;
    height: 600px;
}
nav ul li {
    display: inline-block;
    margin: 5px 15px;
}
a{
    text-decoration: none;
}
.intro {
    color: antiquewhite;
    margin-top: 30px;
    margin-left: 250px;
    font-size: 40px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 100px;
}
ul li :hover{
    background-color: aqua;
}
ul li :is(:link, :active, :visited).active {
    color: #EEEEEE;
    background-color: black;
}